.body{
    background-color:black;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.h1 {
text-align: center;
}

.header {
    display :flex;
    background-color: #f2f2f2;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: auto;
}


.slider-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position:relative;
    padding-left:50%;
    padding-right: 0%;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.slider-text h2 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:hover {
    transform: scale(1.1);
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh; 
    background-color: #f1f1f1;
    padding: 20px;
    z-index: 999; 
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-content {
    margin-bottom: 20px;
  }
  
  
  .main-content {
    margin-left: 200px; 
  }
  


.container {
    position: relative;
    margin-bottom: 100px; 
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 20px;
}
