
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri", sans-serif;
}
body {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #262521;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 10px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .employee-box {
  margin-top: 20px;
}
.employee-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.employee-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .employee {
  column-gap: 5px;
}
.employee input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.employee input, .employee .employee) {
  cursor: pointer;
}
.employee label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.form button {
  height: 45px;
  width: 100%;
  color: #f4ecec;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(240, 97, 2);
}
.form button:hover {
  background: rgb(18, 18, 18);
}
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.employee-option, .employee) {
    row-gap: 15px;
  }
}
.employee {
  margin-bottom: 10px;
}
.supplier-form {
  display: none;
  margin-bottom: 50px;
}




